{% extends 'tmp_rental/master_rental.html' %}
{% load static %}
{% block content %}


        {% comment %} aai thi nathi
         {% endcomment %}
        <div class="main-panel">
          <div class="content-wrapper pb-0">
            <div class="page-header flex-wrap">
              <h3 class="mb-0"> Hi, welcome back! <span class="pl-0 h6 pl-sm-2 text-muted d-inline-block">Your web of PLAYORA</span>
              </h3>
               <div class="d-flex">
            <div class="login-right">
              <img src="{% static 'sta_rental/assets/images/for rental dash bord.jpg' %}" alt="login image" style="width: 100%;">
            </div>
              </div> 
            </div>



            


            
            
         {% endblock %} 

         
          