{% extends 'tmp_admin/master.html' %}
{% load static %}
{% block content %}  
    {% comment %}  {% endcomment %}
      
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title">Form elements</h3>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#"   >Forms</a></li>
                  <li class="breadcrumb-item active" aria-current="page"> Form elements </li>
                </ol>
              </nav>
            </div>
              <form method="post" enctype="multipart/form-data">
              {%csrf_token%}              
              <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">CONTACT MESSAGE </h4>
                    <p class="card-description"> form</p>
                    <form class="forms-sample">
                   
                      {% comment %} <div class="form-group row">
                        <label for="Inputnumber" class="col-sm-3 col-form-label">Id</label>
                        <div class="col-sm-10">
                          <input type="text" name="id" class="form-control" />
                        </div>
                      </div> {% endcomment %}

                      <div class="form-group row">
                        <label for="Inputtext" class="col-sm-3 col-form-label">Site_name</label>
                        <div class="col-sm-9">
                          <input type="text" name="site_name" class="form-control" id="exampleInputtext" placeholder="site_name..." />
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="Inputfile" class="col-sm-3 col-form-label">Logo</label>
                        <div class="col-sm-9">
                          <input type="file" name="logo" class="form-control"  />
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="Inputemail" class="col-sm-3 col-form-label">Contact_Email</label>
                        <div class="col-sm-9">
                          <input type="email" name="contact_email" class="form-control" id="exampleInputemails" placeholder="contact_email..." />
                        </div>
                      </div>





                      <div class="form-group row">
                        <label for="Inputnumber" class="col-sm-3 col-form-label">Contact_phone</label>
                        <div class="col-sm-9">
                          <input type="number" name="contact_phone" class="form-control" id="exampleInputnumber" placeholder="contact_phone" />
                        </div>
                      </div>

                      <div class="form-group row">
                        <label for="Inputtext" class="col-sm-3 col-form-label">Address</label>
                        <div class="col-sm-9">
                          <input type="text" name="address" class="form-control" id="exampleInputtext" placeholder="address..." />
                        </div>
                      </div>

                      <div class="form-group row">
                        <label for="Inputnumber" class="col-sm-3 col-form-label">Late_fee_per_day</label>
                        <div class="col-sm-9">
                          <input type="number" name="late_fee_per_day" class="form-control" id="exampleInputnumber" placeholder="late_fee_per_day" />
                        </div>
                      </div>

                      <div class="form-group row">
                        <label for="Inputnumber" class="col-sm-3 col-form-label">Deposit_policy</label>
                        <div class="col-sm-9">
                          <input type="number" name="deposit_policy" class="form-control" id="exampleInputnumber" placeholder="deposit_policy" />
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="Inputdate" class="col-sm-3 col-form-label">Updated_at</label>
                        <div class="col-sm-9">
                          <input type="date" name="updated_at" class="form-control" id="exampleInputdate" placeholder="update at ...  " />
                        </div>
                      </div>


                      
                      {% comment %} <div class="form-group row">
                        <label for="exampleInputConfirmPassword2" class="col-sm-3 col-form-label">Re Password</label>
                        <div class="col-sm-9">
                          <input type="password" class="form-control" id="exampleInputConfirmPassword2" placeholder="Password" />
                        </div>
                      </div> {% endcomment %}
                      
                      <button type="submit" class="btn btn-primary mr-2"  > Submit </button>
                      <button class="btn btn-light">Cancel</button>
                    </form>
                  </div>
                </div>
              </div>
              
          {% comment %}  {% endcomment %}
          {% endblock %}