{% extends 'tmp_admin/master.html' %}
{% load static %}
{% block content %}  
    {% comment %}  {% endcomment %}
      
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title">Form elements</h3>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#" >Forms</a></li>
                  <li class="breadcrumb-item active" aria-current="page"> Form elements </li>
                </ol>
              </nav>
            </div>
              <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">category</h4>
                    <p class="card-description">category form</p>
                    <form class="forms-sample" method="post" enctype="multipart/form-data">
                      {% csrf_token %}
                   
                      {% comment %} <div class="form-group row">
                        <label for="Inputnumber" class="col-sm-3 col-form-label">Id</label>
                        <div class="col-sm-10">
                          <input type="text" name="id" class="form-control" />
                        </div>
                      </div> {% endcomment %}
                      <div class="form-group row">
                        <label for="Inputtext" class="col-sm-3 col-form-label">Name</label>
                        <div class="col-sm-9">
                          <input type="text" name="name" class="form-control" id="exampleInputtext" placeholder="Name" / required>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="Inputtext" class="col-sm-3 col-form-label">Description</label>
                        <div class="col-sm-9">
                          <input type="text" name="description" class="form-control" id="exampleInputtext" placeholder="Description"  / required>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="Inputfile" class="col-sm-3 col-form-label">image</label>
                        <div class="col-sm-9">
                          <input type="file" name="image" class="form-control"  / required>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label" for="is_active">is_active</label>
                        <div class="col-sm-9 d-flex align-items-center">
                          <input type="checkbox" id="is_active" name="is_active" class="form-check-input" />
                        </div>
                      </div>
                      {% comment %} created_at and update_at are auto-managed by Django, so they are not editable in this form. {% endcomment %}
                      {% comment %} <div class="form-group row">
                        <label for="exampleInputConfirmPassword2" class="col-sm-3 col-form-label">Re Password</label>
                        <div class="col-sm-9">
                          <input type="password" class="form-control" id="exampleInputConfirmPassword2" placeholder="Password" />
                        </div>
                      </div> {% endcomment %}
                      <button type="submit" class="btn btn-primary mr-2" > Submit </button>
                      <button class="btn btn-light">Cancel</button>
                    </form>
                  </div>
                </div>
              </div>
              
          {% comment %}  {% endcomment %}
          {% endblock %}