{% extends 'tmp_admin/master.html' %}
{% load static %}
{% block content %}  
    {% comment %}  {% endcomment %}
      
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title">Form elements</h3>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#"  >Forms</a></li>
                  <li class="breadcrumb-item active" aria-current="page"> Form elements </li>
                </ol>
              </nav>
            </div>
              <form method="post">
                {%csrf_token%}              
              <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">subcategory</h4>
                    <p class="card-description">subcategory form</p>
                    <form class="forms-sample">
                   
                      {% comment %} <div class="form-group row">
                        <label for="Inputnumber" class="col-sm-3 col-form-label">Id</label>
                        <div class="col-sm-10">
                          <input type="text" name="id" class="form-control" />
                        </div>
                      </div> {% endcomment %}



                      <div class="form-group row">
                        <label for="Inputtext" class="col-sm-3 col-form-label">Category</label>
                        <div class="col-sm-9">
                          <select class="form-select" name="category" id="floatingSelect" aria-label="Floating label select example">
                              <option>Open this select menu</option>
                              {% for t in category %}
                              <option value="{{t.id}}" {% if t.id == subc.category.id %}selected{% endif %}>{{t.name}}</option>
                              {% endfor %}
                          </select>
                        </div> 
                        </div>
                        
                        {% comment %} <input type="text" name="category" class="form-control" id="exampleInputtext" placeholder="category" /> {% endcomment %}

                                   


                       
                      
                      <div class="form-group row">
                        <label for="eInputtext" class="col-sm-3 col-form-label">Name</label>
                        <div class="col-sm-9">
                          <input type="text" name="name" class="form-control" id="exampleInputtext" placeholder="Name" value="{{ subc.name }}" required>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="Inputtext" class="col-sm-3 col-form-label">Description</label>
                        <div class="col-sm-9">
                          <input type="text" name="description" class="form-control"  id="exampleInputtext" placeholder="Description" value="{{ subc.description }}" required>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label" for="is_active">Is_active</label>
                        <div class="col-sm-9 d-flex align-items-center">
                          <input type="checkbox" id="is_active" name="is_active" class="form-check-input" {% if subc.is_active %}checked{% endif %} />
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Created_at</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" value="{{ subc.created_at|date:'Y-m-d H:i' }}" readonly />
                        </div>
                      </div>
                      
                      {% comment %} <div class="form-group row">
                        <label for="exampleInputConfirmPassword2" class="col-sm-3 col-form-label">Re Password</label>
                        <div class="col-sm-9">
                          <input type="password" class="form-control" id="exampleInputConfirmPassword2" placeholder="Password" />
                        </div>
                      </div> {% endcomment %}
                     
                      <button type="submit" class="btn btn-primary mr-2"  > Submit </button>
                      <button class="btn btn-light">Cancel</button>
                    </form>
                  </div>
                </div>
              </div>
              
          {% comment %}  {% endcomment %}
          {% endblock %}